@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #080808;

  --pri-sakura-pink: #FF6FA9;
  --sec-midnight-purple: #2B1D3F;
  --sec-pastel-blue: #6BCBFF;
  --net-soft-white: #FDFDFE;
  --net-charcoal-grey: #2E2E2E;
  --acc-golden-yellow: #FFD85C;
  --acc-mint-green: #4FD1C5
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #ffffff;
  }
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}